<% if model && model.errors.any? %>
  <div style="color: red;">
    <h2><%= model.errors.count %>つのエラーを解消してください。</h2>
    <ul>
      <% model.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>