<header class="header">
  <div class="header_box">
    <div class="header_right_box">
      <p class="logo">Recipe Forest</p>
    </div>
    <div class="header_left_box">
      <% if current_user %>
        <div class="header_left_current_user"><%= current_user.nickname %> </div>
      <% end %>
    </div>
  </div>
</header>

<div class="flash_message_box">
  <% if flash[:notice] || flash[:alert] %>
    <div id="flash_message" class="flash_message <%= flash[:notice] ? "notice" : flash[:alert] ? "alert" : "" %>">
      <span><%= flash[:notice] || flash[:alert] %></span>
    </div>
  <% end %>
</div>